@tailwind components;

.apply0{
  background: #EEEEEE;
}
.anchorBox{
  width:100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  line-height: 60px;
  height: 60px;
  a{
    display: block;
    height: 60px;
    width:100%;
    text-align:center;
    color:#000;
    font-size:18px;
    line-height:60px;
    font-weight:bold;
    background: #EEEEEE;
    -webkit-transition:all 0.1s linear;
    transition:all 0.1s linear;
    &:hover{
      color:#CD241D;
      -webkit-transition:all 0.1s linear;
      transition:all 0.1s linear;
    }
  }
}
.applyWrap{
  width: 100%;
  background-color: #fff;
  padding: 40px 0;
  .applyCase{
    position: relative;
    margin-bottom: 40px;
    height: 680px;
    border-radius: 10px;
    border: 1px solid #eaedf0;
    .applyCaseL{
      position: absolute;
      background: linear-gradient(to right, #f4f5fc,rgba(255,255,255,0));
      height: 100%;
      top: 0;
      left: 0;
      padding: 40px 0 0 40px;
      h4{
        font-size: 36px;
        color: #E30212;
        letter-spacing: 4px;
      }
      p{
        width: 614px;
        font-size: 16px;
        color: #333333;
        margin-bottom: 40px;
        text-align: justify;
      }
      .linkgroup{
        display: flex;
        a{
          display: block;
          width: 90px;
          height: 33px;
          border-radius: 8px;
          border: 1px solid #E30212;
          color: #E30212;
          text-align: center;
          line-height: 33px;
          margin-right: 20px;
          &:hover{
            background-color: rgba(227,2,18);
            color: #fff;
          }
        }
      }
    }
  }
}