// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --activeColor:#FD2621;
  --webkit-transition: all 0.3s linear;
  --transition: all 0.3s linear;
  --headerHeight:80px;
  --shadow: 0px 10px 18px 0px rgba(35,24,21,0.1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

html{
  // font-size: 160px;
  font-family: Source Han Sans CN;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  // min-width: 1560px;
}
h1,h2,h3,h4,h5,h6,p,span,b,i,li,tr,img,pre,t{
  user-select:none;/*禁止鼠标选中*/
}
img{
  pointer-events: none;/*禁止图片所有点击事件*/
}
p,i,b,li,a{
  font-size: 16px;
}

.main{
  width: 1400px;
  margin: 0 auto;
  // min-width: 1560px;
}

/* 导航栏 start */
header{
  width: 100%;
  position: fixed;
  top: 0;
  height: var(--headerHeight);
  color: #fff;
  font-size: 16px;
  line-height: 78px;
  z-index: 999;
  background: linear-gradient(#000 0%,rgba(255,255,255,0) 80%);
  -webkit-transition:all 0.3s linear;
  .header-warp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    .menu-ul {
      display: flex;
      width: -webkit-fill-available;
      margin-left: 160px;
      justify-content: space-between;
      .menu-ul-li{
        &:nth-child(2){
          &:hover{
            .header-product{
              height:660px;
              -webkit-transition:all 0.5s linear;
              transition:all 0.5s linear;
              padding-top: 80px;
            }
          }
        }
        &:nth-child(3){
          &:hover{
            .header-process{
              height:300px;
              -webkit-transition:all 0.5s linear;
              transition:all 0.5s linear;
              padding-top: 80px;
            }
          }
        }
        &:nth-child(4){
          &:hover{
            .header-appList{
              padding-top: 80px;
              height:510px;
              -webkit-transition:all 0.3s linear;
              transition:all 0.3s linear;   
            }
          }
        }
        &:nth-child(5){
          &:hover{
            .header-case{
              padding-top: 80px;
              height:300px;
              -webkit-transition:all 0.3s linear;
              transition:all 0.3s linear;   
            }
          }
        }
        &:nth-child(6){
          &:hover{
            .header-about{
              padding-top: 80px;
              height:300px;
              -webkit-transition:all 0.3s linear;
              transition:all 0.3s linear;   
            }
          }
        }
        &:nth-child(7){
          &:hover{
            .header-news{
              padding-top: 80px;
              height:300px;
              -webkit-transition:all 0.3s linear;
              transition:all 0.3s linear;   
            }
          }
        }
        &:hover{
          .menu-route-a{
            color: var(--activeColor);
            &::before{
              width:100%;
            }
          }
        }
        .menu-route-a {
          display: block;
          cursor: pointer;
          box-sizing: border-box;
          position: relative;
          font-weight:500;
          &::before{
            content:'';
            display:block;
            position:absolute;
            bottom:14px;
            left:0;
            right:0;
            margin:0 auto;
            width:0;
            background-color: var(--activeColor);
            height:3px;
            -webkit-transition:all 0.3s linear;
            transition:all 0.3s linear;
            border-radius:2px;
          }
          &:hover{
            color: var(--activeColor);
          }
        }
      }
    }
  }
  .header-product,.header-appList,.header-case,.header-about,.header-news,.header-process{
    position:fixed;
    left:0;
    top:0px;
    background-color:#fff;
    width:100%;
    box-shadow: 0px 10px 18px 0px rgba(35,24,21,0.1);
    overflow: hidden;
    -webkit-transition:all 0.5s linear;
    transition:all 0.5s linear;
    z-index:-1;
    &::before{
      position: absolute;
      left: 0;
      top: 0px;
      content: '';
      width: 100%;
      height: 80px;
      background-color: #000;
    }
  }
  .header-product{
    height:0px;
    // padding-top: 80px;
    // height: 580px;
    .header-product-top{
      padding-left: 240px;
      height: 80px;
      background: #FDFCFC;
      display: flex;
      justify-content: space-between;
      align-items: center;
      div{
        cursor: pointer;
        display: flex;
        align-items: center;
        img{
          margin-right: 10px;
        }
      }
      span{
        font-size: 24px;
        color: #333333;
        &:hover{
          color: #CD241D;
        }
      }
    }
    .header-product-main{
      display: flex;
      background-color: #F3FAFF;
      .header-product-left{
        width: 590px;
        div{
          position: relative;
          border-bottom:1px solid #949494;
          cursor: pointer;
          height: 80px;
          position: relative;
          background-color: #fff;
          span{
            display: block;
            text-align: center;
            font-weight: 500;
            font-size: 24px;
            color: #CD241D;
          }
          img{
            position: absolute;
            right: 50px;
            top: 10;
          }
          &::after{
            position: absolute;
            content: '';
            width: 7px;
            height: 9px;
            right: 14px;
            top: 50%;
            transform: translateY(-50%);
            background: url('https://www.yangdong.co:8443/yangdong-new/product/gray.webp')no-repeat;
          }
        }
        .activeSerise{
          background-color: #CD241D;
          span{
            color: #fff;
          }
          &::after{
            background: url('https://www.yangdong.co:8443/yangdong-new/product/white.webp')no-repeat;
          }
        }
      }
      .header-product-center{
        background: #e9f4fc;
        div{
          width: 280px;
          height: 50px;
          border-bottom:1px solid #949494;
          position: relative;
          cursor: pointer;
          span{
            margin-left: 20px;
            display: block;
            height: 50px;
            line-height: 50px;
            font-size: 24px;
          }
          &::after{
            position: absolute;
            content: '';
            width: 7px;
            height: 9px;
            right: 14px;
            top: 50%;
            transform: translateY(-50%);
            background: url('https://www.yangdong.co:8443/yangdong-new/product/gray.webp')no-repeat;
          }
        }
        .activeItem{
          background-color: #CD241D;
          span{
            color: #fff;
          }
          &::after{
            background: url('https://www.yangdong.co:8443/yangdong-new/product/white.webp')no-repeat;
          }
        }
      }
      .header-product-right{
        background:  url('https://www.yangdong.co:8443/yangdong-new/header/product-bg.webp')no-repeat right;
        width: calc(100% - 170px - 950px);
        min-width: 785px;
        cursor: pointer;
        img{
          margin: 40px auto 0;
        }
        p{
          font-weight: 500;
          font-size: 48px;
          color: #000000;
          text-align: center;
        }
        
      }
    }
    
  }
  .header-appList{
    height: 0px;
    // height: 430px;  
    .header-appList-main{
      height: inherit;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      .header-appList-left{
        height: calc(100% - 160px);
          margin-left: 60px;
          display: grid;
          grid-template-columns: repeat(2,5fr);
          grid-column-gap: 60px;
        a{
          font-size: 18px;
          display: block;
          width: 250px;
          color: #333333;
          height: 60px;
          line-height: 60px;
          border-bottom: 1px solid #eee;
          transition:all 0.3s linear;   
          &:hover{
            border-color: #CD241D!important;
            color: #CD241D!important;
            transition:all 0.3s linear;   
          }
        }
      }
    }
  }
  .header-case,.header-about,.header-news,.header-process{
    height: 0px;
    // height: 230px;
    display: flex;
    .header-img-wrap{
      position: relative;
      img{
        height: 230px;
      }
      span{
        position: absolute;
        top: 20px;
        right: 130px;
        font-weight: bold;
        font-size: 24px;
        color: #FFFFFF;
      }
    }
    
    .right-box{
      display: grid;
      grid-template-columns: repeat(3,2fr);
      grid-column-gap: 60px;
      margin-left: 60px;
      a{
        width: 230px;
        font-size: 16px;
        line-height: 80px;
        font-weight: 400;
        display: block;
        color: #000;
        height: 80px;
        border-bottom: 1px solid #eee;
        position: relative;
        transition:all 0.5s linear;
        background: url('https://www.yangdong.co:8443/yangdong-new/header/w-r.webp')no-repeat center right;
        &:hover{
          color: #CD241D;
          border-color: #CD241D;
          transition:all 0.5s linear;
          background: url('https://www.yangdong.co:8443/yangdong-new/header/r-r.webp')no-repeat center right;
        }
      }
    }
  }
  &::before{
    content:'';
    position:absolute;
    width:100%;
    background-color:#fff;
    height:0%;
    left:0;
    top:0;
    -webkit-transition:all 0.3s linear;
    transition:all 0.3s linear;
  }
  .selectAcitve{
    border-bottom: 3px solid var(--activecolor);
    border-radius:1px;
    // margin:0 20px;
    .menu-route-a{
      color:var(--activeColor);
      font-size: 18px;
    }
  }
  .up{
    width: 64px;
    height: 64px;
    background: url('https://www.yangdong.co:8443/yangdong-new/header/top.webp')no-repeat center;
    position: fixed;
    right: 80px;
    bottom: 50px;
    right: 40px;
    bottom: 40px;
    border-radius: 50%;
    box-shadow: 0px 5px 9px 0px rgba(35,24,21,0.1);
    -webkit-transition:all 0.2s linear;
    transition:all 0.2s linear;
    cursor:pointer;
    &:hover{
      box-shadow: 0px 8px 15px 0px rgba(35,24,21,0.2);
      -webkit-transition:all 0.2s linear;
      transition:all 0.2s linear;
      background-color:#fafafa;
    }
  }
}
// 导航栏 end

/* 首页banner轮播组件 */
.banner-container{
  width:calc(100vw - 18px);
  height: auto;
  // min-width: 1560px;
  img{
    width: inherit;
    height: auto;
  }
}

/* 定义跳动动画 */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(5px);
  }
  80% {
    transform: translateY(-3px);
  }
}

// banner
.bannerWrap{
  position: relative;
  img{
    width: 100%;
  }
  .contactDown{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
    background: url('https://www.yangdong.co:8443/yangdong-new/contact/down.webp')no-repeat;
    animation: bounce 1s infinite; /* 1秒循环一次 */
    cursor: pointer;
    &:hover{
      animation-play-state: paused;
    }
  }
}
// footer start
footer{
  padding-top: 40px;
  background: url('https://www.yangdong.co:8443/yangdong-new/footer/bg.webp')no-repeat;
  background-size: cover;
  .footer-wrap{
    display:flex;
    justify-content: space-between;
    margin-bottom:30px;
    ul{
      h5{
        font-size:24px;
        font-weight:500;
        position:relative;
        margin-bottom:20px;
        &::after{
          content:'';
          position:absolute;
          left:0;
          bottom:-4px;
          width: 50px;
          height: 2px;
          background: #FD2621;
        }
      }
      li{
        font-size:16px;
        height:36px;
        line-height:36px;
        &:hover{
          color:#FD2621;
        }
      }
    }
    .contact{
      li{
        display:flex;
        font-size: 18px;
        margin:14px 0;
        img{
          margin-right:10px;
        }
        &:hover{
          color:#fff;
        }
      }
      .erweima-box{
        margin-top:20px;
        margin-bottom: 40px;
        display:flex;
        text-align:center;
        div{
          &:nth-child(1){
            margin-right:30px;
          }
          p{
            font-size: 18px;
          }
        }
      }
    }
  }
  .copyright{
    text-align: center;
    font-size: 14px;
    img{
      width: 14px;
      display: inline-block;
      margin: 0 4px;
    }
  }
}
/* 按钮样式 */
.redBtn,.whiteBtn{
  width: 180px;
  height: 50px;
  border-radius: 25px;
  position: relative;
  a{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
.redBtn{
  background-color:#FD2621;
  color:#fff;
}
.whiteBtn{
  background-color:#fff;
  color:#FD2621;
}
// 产品图片切换
.product-slider{
  width: inherit;
  padding-left: 20px;
  padding-right: 26px;
  .slick-slider{
    .slick-list{
      width: 79%;
      margin: auto;
    }
    .slick-prev::before,.slick-next::before{
      background-image: none;
      color: #FD2621;
      opacity: 1!important;
      position: absolute;
      content: ' '!important;
      width: 26px;
      height: 44px;
    }
    .slick-prev,.slick-next{
      z-index: +1;
      position: absolute;
      top: calc(50% - 22px);
    }
    .slick-prev::before{
      background: url('https://www.yangdong.co:8443/yangdong-new/product/left-arrow.webp')no-repeat;
      left: 26px;
    }
    .slick-next::before{
      background: url('https://www.yangdong.co:8443/yangdong-new/product/right-arrow.webp')no-repeat;
      right: 26px;
    }
    .slick-arrow{
      &:hover{
        background:none!important;
      }
    }
    .active,.bgF{
      padding: 0 5px;
      img{
        height: 110px;
        height: 110px;
        margin: auto;
      }
    }
    .active{
      img{
        background-color: #fff;
        border: 1px solid #FD2621;
      }
    }
    .bgF{
      img{
        background-color: #fff;
      }
    }
  }
}
/* 用于解决锚点定位被遮挡的样式 */
.upwards{
  padding-top:80px;
  margin-top:-80px;
}
.my-div{
  width: 1400px;
  height: 680px;
}
.slick-dots{
  margin-top: 20px;
  .slick-active{
      div{
        background: #CD241D!important;
      }
    }
}