// @tailwind components;

.indexWrap{
  margin-top: 78px;
  .aboutM{
    height: 100vh;
    background: #fff url('https://www.yangdong.co:8443/yangdong-new/index/bg-1.webp')no-repeat;
    background-size: 100%;
    background-position-y: 40px;
    box-sizing: content-box;
    overflow: hidden;
    .aboutMC{
      height: 60%;
      padding-top: 100px;
      color: #000;
      p{
        font-size: 20px;
        i{
          font-style: normal;
          padding: 3px;
          background-color: var(--activeColor);
          border-radius: 6px;
          margin-right: 4px;
          font-size: 14px;
          color:#fff;
        }
      }
      b{
        display: block;
        margin: 80px 0;
        width: 840px;
        font-weight: bold;
        font-size: 36px;
      }
      p{
        a{
          font-weight: 500;
          font-size: 16px;
          position: relative;
          line-height: 23px;
          &::after{
            content: '>';
            color:#fff;
            position: absolute;
            top: 0;
            right: -28px;
            text-align: center;
            line-height: 20px;
            width: 23px;
            height: 23px;
            background: var(--activeColor);
            border-radius: 50%;
          }
        }
      }
    }
    .aboutIntro{
      height: 40%;
      background: url('https://www.yangdong.co:8443/yangdong-new/index/bg-2.webp')no-repeat center 100%;
      background-size: cover;
      .aboutIntroC{
        height: 100px;
        padding-top: calc(20vh - 50px);
        display: flex;
        justify-content: space-between;
        div{
          pre{
            position: relative;
            font-family: Roboto;
            font-weight: 500;
            font-size: 60px;
            height: 60px;
            line-height: 60px;
            i{
              position: absolute;
              top: 0;
              font-style: normal;
              display: inline-block;
              background-color: var(--activeColor);
              width: 30px;
              height: 30px;
              border-radius: 15px;
              text-align: center;
              line-height: 30px;
            }
          }
          p{
            font-weight: 400;
            font-size: 24px;
            line-height: 9px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
.productWrap{
  .productC{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #020000;
    transition: all 0.3s ease;
    padding-bottom: 40px;
    .productCH{
      text-align: center;
      padding-top: 60px;
      h4{
        line-height: 40px;
        span{
          font-weight: bold;
          font-size: 48px;
          line-height: 60px;
          &:first-child{
            background: linear-gradient(194deg, #F85032 0%, #E73827 100%);
            -webkit-background-clip: text;/*将设置的背景颜色限制在文字中*/
            -webkit-text-fill-color: transparent;/*给文字设置成透明*/
          }
          &:last-child{
            background: linear-gradient(194deg, #BB9B66 0%, #F2C94C 100%);;
            -webkit-background-clip: text;/*将设置的背景颜色限制在文字中*/
            -webkit-text-fill-color: transparent;/*给文字设置成透明*/
          }
        }
        img{
          margin: 0 20px;
          display: inline;
          vertical-align: bottom;
        }
      }
      .text1{
        font-size: 30px;
        font-weight: 500;
        span{
          color: #FE0C02;
        }
      }
      .text2{
        font-size: 20px;
      }
    }
    .productCS{
      width: 100%;
      height: 2px;
      border-top: 2px solid #FE0C02;
      font-weight: bold;
      font-size: 24px;
      margin-top: 40px;
      height: initial;
      .productCSM{
        height: initial;
        display: flex;
        justify-content: space-between;
        height: 65px;
        .productCSMI{
          cursor: pointer;
          text-align: center;
          .productIconW{
            margin: auto;
            padding: 10px;
            border-radius: 50%;
            background: #FE0C02;
            position: relative;
            margin-bottom: 10px;
            max-width: 50px;
            max-height: 50px;
            transition: all 0.3s ease;
            img{
              width: 30px;
              margin: auto;
            }
            &::before{
              content: '';
              width: 140%;
              height: 140%;
              border-radius: 50%;
              border: 1px solid #FE0C02;
              position: absolute;
              top: -20%;
              left: -20%;
            }
          }
        }
      }
    }
    .productCM{
      display: flex;
      margin-top: 10px;
      img{
        margin-right: 20px;
        height: 600px;
      }
      .productCMT{
        width: 100%;
        h5{
          a{
            font-weight: bold;
            font-size: 40px;
            color: #CD241D;
          }
          
        }
        p{
          font-size: 22px;
          margin-bottom: 10px;
        }
        .productCMTUL{
          display: flex;
          justify-content: space-between;
          ul{
            font-size: 24px;
            font-weight: 500;
            li{
              margin: 4px 0;
              a{
                display: block;
                font-size: 18px;
                font-weight: normal;
                line-height: 30px;
                height: 30px;
                width: max-content;
                &:hover{
                  border-bottom: 1px solid #CD241D;
                  color: #CD241D;
                }
              }
            }
          }
        }
      }
    }
  }
}
.caseWrap{
  height: 100vh;
  min-height: 945px;
  background: #fff url('https://www.yangdong.co:8443/yangdong-new/index/bg-3.webp')no-repeat;
  background-size: cover;
  padding-top: 100px;
  h4{
    font-weight: bold;
    font-size: 48px;
  }
  p{
    font-size: 30px;
    margin-bottom: 40px;
  }
  .caseWrapM{
    nav{
      border-top-left-radius: 28px;
      border-top-right-radius: 28px;
      background: #FFFFFF;
      // border-bottom: 1px solid #666;
      position: relative;
      ul{
        display: flex;
        justify-content: space-between;
        padding: 0px 40px;
        overflow: hidden;
        position: relative;
        &::after{
          content: '';
          position: absolute;
          left: 0;
          bottom: 1px;
          width: 100%;
          height: 1px;
          background-color: #666;
        }
        li{
          color: #000;
          font-size: 20px;
          line-height: 80px;
          cursor: pointer;
          width: 100%;
          text-align: center;
        }
        .liActive{
          font-size: 30px;
          border-bottom:3px solid #CD241D;
          color: #CD241D;
          position: relative;
          &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: -2px;
            left: 0;
            z-index: 66;
            background-color: #CD241D;
          }
        }
      }
    }
    main{
      background-color: #fff;
      padding: 40px;
      .caseMain{
        display: flex;
      }
      border-bottom-left-radius: 28px;
      border-bottom-right-radius: 28px;
      h5{
        font-weight: 500;
        font-size: 30px;
        color: #000;
        margin-bottom: 40px;
      }
      p{
        font-size: 24px;
        color: #333333;
        height: 340px;
        padding-right: 14px;
        text-align: justify;
        margin-bottom: 0;
      }
      button{
        display: block;
        width: 180px;
        font-size: 24px;
        color: #FFFFFF;
        background: #CD241D;
        border-radius: 4px;
      }
    }
  }
}
.reasonWrap{
  width: 100%;
  height: 100vh;
  min-height: 980px;
  background-color: #fff;
  text-align: center;
  padding-top: 80px;
  h4{
    font-weight: bold;
    font-size: 48px;
    background: linear-gradient(0deg, #F85032 0%, #E73827 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p{
    font-size: 30px;
    color: #020000;
  }
  .reasonS{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    span{
      display: block;
      font-size: 30px;
      color: #333333;
    }
    .reasonSI{
      flex: 1;
      background: linear-gradient(0deg, #FDF7F7 0%, #FFFFFF 100%);
      box-shadow: 0px 0px 14px 5px rgba(236,234,234,0.8);
      border-radius: 8px;
      padding: 8px 0px;
      margin: 0 5px;
      cursor: pointer;
      -webkit-transition:var(--webkit-transition);
      transition:var(--transition);
      &:hover{
        -webkit-transition:var(--webkit-transition);
        transition:var(--transition);
        border-bottom: 3px solid #E30212;
      }
      .reasonImgW{
        margin: auto;
        width: 60px;
        height: 60px;
        background: #E30212;
        border-radius: 50%;
        img{
          margin: auto;
          padding-top: 12px;
        }
      }
    }
  }
  .reasonM{
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 30px;
    height: --webkit-fill-available;
    height: 680px;
    background-size: cover;
    transition: all 0.3s ease;
    .reasonMC{
      height: inherit;
      .reasonMCB{
        height: inherit;
        padding: 80px;
        width: 940px;
        background-color: rgba(205, 36, 29, 0.8);
        color: #fff;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h5{
          font-weight: 500;
          font-size: 60px;
          position: relative;
          &::after{
            content: '';
            width: 238px;
            height: 4px;
            background: #FFFFFF;
            position: absolute;
            left: 0;
            bottom: -20px;
          }
        }
        p{
          font-size: 30px;
          color: #fff;
          line-height: 50px;
        }
        a{
          display: block;
        }
      }
    }
  }
}
.newWrap{
  width: 100%;
  height: 100vh;
  background: #fff url('https://www.yangdong.co:8443/yangdong-new/index/bg-4.webp')no-repeat;
  background-size: cover;
  .newWrapM{
    .newWrapMH{
      padding-top: 100px;
      display: flex;
      justify-content: space-between;
      .newWrapMHL{
        position: relative;
        h4{
          font-weight: bold;
          font-size: 48px;
        }
        p{
          font-size: 24px;
        }
        &::after{
          content: '';
          width: 368px;
          height: 163px;
          position: absolute;
          right: -90px;
          top: -120px;
          background: url('https://www.yangdong.co:8443/yangdong-new/index/new.webp')no-repeat;
        }
      }
      .newWrapMHR{
        display: inline-flex;
        justify-content: space-between;
        width: 50%;
        div{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          padding: 10px 20px;
          border: 1px solid red;
          border-radius: 8px;
          border: 1px solid #B5B5B5;
          -webkit-transition:var(--webkit-transition);
          transition:var(--transition);
          cursor: pointer;
          &:hover{
            background: #CD241D;
            border-color: #CD241D;
          }
          img{
            margin: 0 auto 10px;
          }
        }
      }
    }
    .newWrapMC{
      margin-top: 60px;
      display: flex;
      justify-content: space-between;
      gap:15px;
      i{
        font-style: normal;
      }
      .newWrapMCL{
        width: 75%;
        .newWrapMCLT{
          position: relative;
          margin-bottom: 15px;
          cursor: pointer;
          img{
            width: 100%;
            height: 425px;
          }
          p{
            position: absolute;
            padding-left: 20px;
            width: 100%;
            bottom: 0;
            line-height: 60px;
            background: #CD241D;
            border-radius: 10px 10px 0 0;
            margin-top: -60px;
            font-size: 24px;
          }
        }
        .newWrapMCLB{
          display: flex;
          justify-content: space-between;
          gap: 15px;
          div{
            flex: 1;
            background: #fff;
            color: #000;
            padding: 40px 20px;
            cursor: pointer;
            -webkit-transition:var(--webkit-transition);
            transition:var(--transition);
            p{
              font-size: 24px;
              &:last-child{
                margin-top: 10px;
                display: flex;
                width: 100%;
                justify-content: space-between;
                color: #666;
                i{
                  &:first-child{
                    padding-left: 30px;
                    background: url('https://www.yangdong.co:8443/yangdong-new/index/new-icon-g.webp')no-repeat;
                  }
                  &:last-child{
                    border: 1px solid #666;
                    padding: 0 5px;
                  }
                }
              }
            }
            &:hover{
              background-color: #CD241D;
              color: #fff;
              p{
                &:last-child{
                  color: #fff;
                  i{
                    border-color: #fff;
                    &:first-child{
                      background: url('https://www.yangdong.co:8443/yangdong-new/index/new-icon-w.webp')no-repeat;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .newWrapMCR{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap:15px;
        div{
          flex: 1;
          background-color: #fff;
          cursor: pointer;
          -webkit-transition:var(--webkit-transition);
          transition:var(--transition);
          img{
            width: 100%;
            min-height: 200px;
          }
          p{
            color: #000;
            padding: 13px 10px;
            i{
              display: block;
              color: #666;
              padding-left: 30px;
              background: url('https://www.yangdong.co:8443/yangdong-new/index/new-icon-g.webp')no-repeat left;
            }
          }
          &:hover{
            background-color: #CD241D;
            p{
              color: #fff;
              i{
                color: #fff;
                background: url('https://www.yangdong.co:8443/yangdong-new/index/new-icon-w.webp')no-repeat left;
              }
            }
          }
        }
      }
    }
  }
}
.partnerWrap{
  width: 100%;
  height: 100vh;
  background: url('https://www.yangdong.co:8443/yangdong-new/index/bg-5.webp')no-repeat center;
  background-size: cover;
  .partnerM{
    overflow: hidden;
    position: relative;
    height: inherit;
    img{
      position: absolute;
      transition: all 0.3s ease;
      z-index: 1;
      pointer-events:all;
      // 为每个图片单独设置样式和hover
      @for $i from 1 through 19 {
        &:nth-child(#{$i}) {
          z-index: $i;
          &:hover {
            z-index: 10;
            transform: scale(1.1);
            filter: drop-shadow(0 0 8px rgba(0,0,0,0.2));
          }
        }
      }
      &:nth-child(1){
        width: 20%;
        top: -2%;
        left: -2%;
      }
      &:nth-child(2){
        width: 28%;
        left: 8%;
        top: 2%;
      }
      &:nth-child(3){
        width: 20%;
        left: 32%;
        top: 6%;
      }
      &:nth-child(4){
        width: 24%;
        left: 48%;
        top: 10%;
      }
      &:nth-child(5){
        width: 24%;
        left: 64%;
        top: -3%;
      }
      &:nth-child(6){
        width: 23%;
        right: -4%;
        top: -4%;
      }
      &:nth-child(7){
        width: 18%;
        right: 4%;
        top: 18%;
      }
      &:nth-child(8){
        width: 26%;
        left: -5%;
        top: 20%;
      }
      &:nth-child(9){
        width: 18%;
        right: -5%;
        top: 36%;
      }
      &:nth-child(10){
        width: 14%;
        left: 2%;
        top: 55%;
      }
      &:nth-child(11){
        width: 22%;
        right: 0%;
        top: 47%;
      }
      &:nth-child(12){
        width: 10%;
        right: 20%;
        top: 65%;
      }
      &:nth-child(13){
        width: 26%;
        left: -5%;
        bottom: -8%;
      }
      &:nth-child(14){
        width: 26%;
        left: 14%;
        bottom: -5%;
      }
      &:nth-child(15){
        width: 26%;
        left: 30%;
        bottom: -4%;
      }
      &:nth-child(16){
        width: 15%;
        left: 45%;
        bottom: -4%;
      }
      &:nth-child(17){
        width: 15%;
        left: 54%;
        bottom: 10%;
      }
      &:nth-child(18){
        width: 25%;
        left: 63%;
        bottom: -10%;
      }
      &:nth-child(19){
        width: 25%;
        right: -5%;
        bottom: -5%;
      }
    }
  }
}
.evaWrap{
  width: 100%;
  height: 100vh;
  background: url('https://www.yangdong.co:8443/yangdong-new/index/bg-6.webp')no-repeat center;
  background-size: cover;
  .evaM{
    height: inherit;
    padding-top: 100px;
    .evaMT{
      display: flex;
      justify-content: space-between;
      .evaMTL{
        display: flex;
        img{
          margin-right: 20px;
        }
        p{
          font-size: 48px;
          &:nth-child(3){
            font-size: 30px;
          }
        }
      }
      .evaMTR{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
          img{
            margin: auto;
          }
          p{
            margin-top: 20px;
          }
        }
      }
    }
    .evaImgW{
      height: 80%;
      position: relative;
      img{
        position: absolute;
        transition: all 0.3s ease;
        z-index: 1;
        pointer-events: all;
        // 为每个图片单独设置样式和hover
        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            z-index: $i;
            
            &:hover {
              z-index: 10;
              transform: scale(1.1);
              filter: drop-shadow(0 0 8px rgba(0,0,0,0.2));
            }
          }
        }
        &:nth-child(1){
          width: 32%;
          top: 15%;
        }
        &:nth-child(2){
          width: 30%;
          top: 36%;
        }
        &:nth-child(3){
          width: 35%;
          top:56%;
        }
        &:nth-child(4){
          width: 26%;
          top: 1%;
          left: 30%;
        }
        &:nth-child(5){
          width: 20%;
          top: 19%;
          left: 36%;
        }
        &:nth-child(6){
          width: 30%;
          top: 42%;
          left: 34%;
        }
        &:nth-child(7){
          width: 40%;
          top: 3%;
          right: 0;
        }
        &:nth-child(8){
          width: 36%;
          top: 22%;
          right: 1%;
        }
        &:nth-child(9){
          width: 32%;
          top: 41%;
          right: 0;
        }
        &:nth-child(10){
          width: 34%;
          top: 61%;
          right: 30%;
        }
      }
    }
  }
}
.indexBW{
  width: 100%;
  height: 380px;
  background: url('https://www.yangdong.co:8443/yangdong-new/index/bg-7.webp')no-repeat;
  background-size: cover;
  div{
    text-align: left;
    padding-top: 100px;
    p{
      font-size: 30px;
      color: #000000;
      margin-bottom: 20px;
    }
    a{
      display: block;
      width: 718px;
      height: 122px;
      background: url('https://www.yangdong.co:8443/yangdong-new/index/b-img.webp')no-repeat;
    }
  }
}
// 响应式
@media screen and (max-width:1440px) {
  .caseWrap{
    height: 400px;
    .caseWrapM{
      margin-top: 100px;
      nav{
        ul{
          li{
            font-size: 16px;
          }
          .liActive{
            font-size: 20px;
          }
        }
      }
      main{
        .caseMain{
          div{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            h5{
              font-size: 24px;
              margin-bottom: 20px;
            }
            p{
              font-size: 18px;
              max-height: 200px;
            }
          }
        }
        img{
          width: 50%;
        }
      }
    }
  }
  .newWrap{
    height: 1340px;
    background-size: cover;
    .newWrapM{
      .newWrapMC{
        flex-direction: column;
        gap: 15px;
        .newWrapMCL{
          width: 100%;
        }
        .newWrapMCR{
          flex-direction: row;
        }
      }
    }
  }
  .partnerWrap{
    height: 640px;
  }
  .evaWrap{
    height: 800px;
    background-size: cover;
  }
}
@media screen and (max-width:1080px){
  .productWrap{
    .productC{
      .productCM{
        img{
          display: none;
        }
      }
    }
  }
  .caseWrap{
    p{
      font-size: 22px;
    }
    .caseWrapM{
      nav{
        ul{
          padding: 0 20px;
        }
      }
      main{
        padding: 20px;
      }
    }
  }
  .newWrap{
    .newWrapM{
      .newWrapMH{
        .newWrapMHL{
          p{
            font-size: 20px;
          }
          &::after{
            top: -160px;
          }
        }
        .newWrapMHR{
          div{
            padding: 10px 10px;
          }
        }
      }
    }
  }
}
@media screen and (max-width:960px){
  .indexWrap{
    .aboutM{
      .aboutMC{
        b{
          width: 100%;
        }
      }
      .aboutIntro{
        .aboutIntroC{
          div{
            pre{
              font-size: 40px;
            }
            p{
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .caseWrap{
    height: 400px;
    h4{
      font-size: 40px;
    }
    p{
      font-size: 20px;
    }
    .caseWrapM{
      nav{
        ul{
          flex-wrap: wrap;
          flex: 1;
          li{
            width: 20%;
            line-height: 50px;
          }
        }
      }
      main{
        .caseMain{
          div{
            p{
              font-size: 16px;
            }
          }
        }
        button{
          width: 140px;
          height: 40px;
        }
      }
    }
  }
  .reasonWrap{
    p{
      font-size: 20px;
    }
    .reasonS{
      span{
        font-size: 18px;
      }
    }
    .reasonM{
      .reasonMC{
        .reasonMCB{
          width: 100%;
          h5{
            font-size: 40px;
          }
          p{
            text-align: justify;
            font-size: 26px;
          }
        }
      }
    }
  }
  .newWrap{
    .newWrapM{
      .newWrapMH{
        flex-wrap: wrap;
        padding-top: 40px;
        flex: 1;
        gap:20px;
        .newWrapMHL{
          width: 100%;
          &::after{
            right: 0px;
            top: -100px;
          }
        }
        .newWrapMHR{
          width: 100%;
          div{
            padding: 10px 20px;
          }
        }
      }
      .newWrapMC{
        .newWrapMCL{
          .newWrapMCLT{
            p{
              font-size: 20px;
            }
          }
          .newWrapMCLB{
            div{
              padding: 20px;
              p{
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
  .partnerWrap{
    height: 500px;
  }
  .evaWrap{
    height: 600px;
    .evaM{
      padding-top: 60px;
      .evaMT{
        .evaMTL{
          p{
            font-size: 30px;
            &:nth-child(3){
              font-size: 20px;
            }
          }
        }
        .evaMTR{
          div{
            img{
              width: 40px;
            }
            p{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .indexBW{
    div{
      text-align: center;
      p{
        font-size: 22px;
      }
      a{
        margin: auto;
        width: 100%;
        background-size: contain;
      }
    }
  }
}
@media screen and (max-width:750px){
  .indexWrap{
    .aboutM{
      height: initial;
      .aboutMC{
        height: initial;
        margin-bottom: 60px;
        b{
          font-size: 30px;
        }
      }
      .aboutIntro{
        height: 280px;
        .aboutIntroC{
          flex-wrap: wrap;
          padding-top: 60px;
          justify-content: flex-start;
          div{
            width: 33%;
            margin-top: 40px;
            padding-left: 20px;
          }
        }
      }
    }
  }
  .productWrap{
    .productC{
      .productCH{
        h4{
          span{
            font-size: 36px;
          }
        }
        .text1{
          font-size: 26px;
        }
        .text2{
          font-size: 16px;
        }
      }
      .productCS{
        .productCSM{
          .productCSMI{
            .productIconW{
              // padding: 8px;
              // max-width: 46px;
              // max-height: 46px;
              img{
                width: 20px;
                margin: auto;
              }
            //   &::before{
            //     width: 130%;
            //     height: 130%;
            //     top: -15%;
            //     left: -15%;
            //   }
            }
          }
        }
      }
      .productCM{
        .productCMT{
          .productCMTUL{
            ul{
              li{
                a{
                  span{
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .caseWrap{
    h4{
      font-size: 32px;
    }
    p{
      font-size: 14px;
      margin-bottom: 20px;
    }
    .caseWrapM{
      margin-top: 20px;
      main{
        .caseMain{
          flex-direction: column;
          flex-direction: column-reverse;
          gap:10px;
          div{
            p{
              max-height: 150px;
            }
          }
        }
        button{
          margin-left: auto;
        }
        img{
          width: 100%;
        }
      }
    }
  }
  .reasonWrap{
    height: initial;
    min-height: auto;
    h4{
      font-size: 36px;
    }
    p{
      font-size: 16px;
    }
    .reasonM{
      height: 540px;
      .reasonMC{
        .reasonMCB{
          
          padding: 40px;
        }
      }
    }
  }
  .newWrap{
    .newWrapM{
      .newWrapMH{
        .newWrapMHL{
          h4{
            font-size: 36px;
          }
          &::after{
            background-size: 300px;
            background-position: right;
          }
        }
      }
      .newWrapMC{
        .newWrapMCL{
          .newWrapMCLT{
            p{
              font-size: 16px;
            }
          }
          .newWrapMCLB{
            div{
              p{
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
  .partnerWrap{
    height: 400px;
  }
  .evaWrap{
    height: 500px;
    .evaM{
      .evaMT{
        .evaMTL{
          img{
            width: 80px;
            margin-right: 10px;
          }
          p{
            font-size: 20px;
            &:nth-child(3){
              font-size: 16px;
            }
          }
        }
        .evaMTR{
          display: none;
        }
      }
    }
  }
  .indexBW{
    div{
      p{
        font-size: 18px;
      }
    }
  }
}
@media screen and (max-width:550px){
  .indexWrap{
    .aboutM{
      .aboutMC{
        padding-top: 40px;
        b{
          font-size: 22px;
          margin: 40px 0;
        }
      }
      .aboutIntro{
        .aboutIntroC{
          padding-top: 0px;
          div{
            pre{
              font-size: 24px;
              height: 50px;
              line-height: 50px;
              i{
                font-size: 14px;
                width: 26px;
                height: 26px;
                line-height: 26px;
              }
            }
            p{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .productWrap{
    .productC{
      .productCH{
        h4{
          span{
            font-size: 22px;
          }
          img{
            margin: 0 10px;
          }
          margin-bottom: 10px;
        }
        .text1{
          font-size: 16px;
          span{
            font-size: 18px;
          }
        }
      }
      .productCS{
        font-size: 14px;
      }
      .productCM{
        .productCMT{
          h5{
            a{
              font-size: 26px;
            }
          }
          p{
            font-size: 14px;
          }
          .productCMTUL{
            ul{
              font-size: 16px;
              p{
                margin-bottom: 0;
                span{
                  display: none;
                }
              }
              li{
                height: 20px;
                a{
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
    }
  }
  .caseWrap{
    height: initial;
    min-height: initial;
    padding-top: 40px;
    padding-bottom: 40px;
    h4{
      font-size: 26px;
    }
    .caseWrapM{
      nav{
        padding-top: 10px;
        ul{
          padding: 0 10px;
          li{
            font-size: 14px;
            line-height: 30px;
          }
          .liActive{
            font-size: 14px;
            border-bottom:1px solid #CD241D;
          }
        }
      }
      main{
        padding: 10px;
        h5{
          margin-top: 20px;
          font-size: 20px!important;
          margin-bottom: 10px;
        }
        p{
          font-size: 14px!important;
        }
        button{
          width: 100px;
          font-size: 18px;
        }
      }
    }
  }
  .reasonWrap{
    padding-top: 40px;
    h4{
      font-size: 26px;
    }
    p{
      font-size: 14px;
    }
    .reasonS{
      .reasonSI{
        .reasonImgW{
          width: 36px;
          height: 36px;
          img{
            width: 30px;
            padding-top: 6px;
          }
        }
        span{
          margin-top: 4px;
          font-size: 14px;
        }
      }
    }
    .reasonM{
      height: 400px;
      .reasonMC{
        .reasonMCB{
          h5{
            font-size: 26px;
          }
          p{
            font-size: 16px;
            line-height: 30px;
          }
        }
      }
    }
  }
  .newWrap{
    height: initial;
    padding-bottom: 40px;
    .newWrapM{
      .newWrapMH{
        .newWrapMHL{
          h4{
            font-size: 26px;
          }
          p{
            font-size: 14px;
          }
          &::after{
            background-size: 180px;
            top: -122px;
          }
        }
        .newWrapMHR{
          div{
            padding: 5px 8px;
            font-size: 14px;
            img{
              width: 36px;
              margin-top: 5px;
            }
          }
        }
      }
      .newWrapMC{
        margin-top: 30px;
        gap:5px;
        .newWrapMCL{
          .newWrapMCLT{
            margin-bottom: 10px;
            img{ 
              height: 200px;
            }
            p{
              font-size: 14px;
              line-height: 22px;
              padding: 5px;
            }
          }
          .newWrapMCLB{
            gap:10px;
            div{
              padding: 5px;
              p{
                font-size: 14px;
                &:last-child{
                  i{
                    font-size: 12px;
                    &:first-child{
                      padding-left: 0;
                      background-image: none;
                    }
                  }
                }
              }
              &:hover{
                p{
                  &:last-child{
                    i{
                      &:first-child{
                        background-image: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .newWrapMCR{
          margin-top: 5px;
          gap: 10px;
          div{
            .newImgWrap{
              height: 120px!important;
            }
            img{
              min-height: 120px;
            }
            p{
              padding: 5px 5px;
              font-size: 14px;
              i{
                font-size: 12px;
                padding-left: 20px;
                background-size: 14px;
              }
            }
            .newPHeight{
              height: 72px;
            }
            &:hover{
              p{
                i{
                  background-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
  .partnerWrap{
    height: 260px;
  }
  .evaWrap{
    height: 400px;
    .evaM{
      padding-top: 40px;
      .evaImgW{
        img{
          width: 80%;
        }
      }
    }
  }
  .indexBW{
    height: initial;
    div{
      padding-top: 40px;
      p{
        font-size: 14px;
      }
      a{
        height: 80px;
      }
    }
  }
}