.newTop{
  height: 80px;
  background: #EEEEEE;
  margin-bottom: 40px;
  div{
    display: flex;
    span{
      font-size: 24px;
      color: #000000;
      display: inline-block;
      border-right: 1px solid #FDFCFC;
      margin-right: 40px;
      padding-right: 40px;
      margin-top: 24px;
      cursor: pointer;
      &:hover{
        color: #E30212;
      }
      &:last-child{
        border-right: none;
      }
    }
    .activeSpan{
      color: #E30212;
    }
  }
}
.companyNew{
  .firstNew{
    position: relative;
    cursor: pointer;
    img{
      width: 860px;
      height: 560px;
    }
    .firstNewR{
      position: absolute;
      top: 0;
      right: 0;
      h4{
        text-align: right;
        font-size: 48px;
        color: #000000;
        background: linear-gradient(0deg, #E52D27 0%, #B31217 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-top: 20px;
      }
      .firstNewRC{
        position: absolute;
        right: 0;
        top: 120px;
        width: 734px;
        height: 406px;
        background: #FFFFFF;
        box-shadow: 0px 6px 20px 0px rgba(18,20,55,0.3);
        padding: 40px 20px 0 40px;
        h6{
          color: #000000;
          text-align: right;
          font-size: 24px;
          font-weight: bold;
        }
        p{
          font-size: 16px;
          color: #666666;
          text-align: justify;
          margin-top: 30px;
        }
        span,i{
          color: #666666;
          display: block;
          text-align: right;
        }
        span{
          margin-top: 20px;
          font-family: Roboto;
          font-weight: bold;
          font-size: 30px;
        }
        i{
          font-style: normal;
          font-size: 16px;
        }
      }
    }
  }
}
.newsWrap{
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 40px;
  cursor: pointer;
  .itemNew{
    cursor: pointer;
    .imgBox{
      position: relative;
      height: 310px;
      overflow:hidden;
      img{
        position: absolute;
        height: 100%;
        width: 100%;
      }
    }
    .itemNewC{
      padding: 20px 20px;
      background: #F6F6F6;
      transition: var(--transition);
      -webkit-transition: var(--webkit-transition);
      span{
        font-family: Roboto;
        font-weight: 400;
        font-size: 18px;
        color: #666666;
      }
      p{
        font-weight: bold;
        font-size: 24px;
        color: #000000;
        height: 80px;
        position: relative;
        margin: 20px 0 40px;
        &::after{
          content: '';
          position: absolute;
          bottom: 2px;
          left: 0;
          width: 46px;
          height: 2px;
          background: #E30212;
        }
      }
      i{
        font-style: normal;
        font-size: 16px;
        color: #666666;
      }
      span,p,i{
        transition: var(--transition);
        -webkit-transition: var(--webkit-transition);
      }
    }
    &:hover{
      .itemNewC{
        background: #E30212;
        span,p,i{
          color: #FFFFFF;
          transition: var(--transition);
          -webkit-transition: var(--webkit-transition);
        }
        p{
          &::after{
            background: #fff;
          }
        }
      }
    }
  }
  
}
.industryNew{

}
.videoBox{
  margin: 40px auto ;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 40px;
  .videoItem{
    box-shadow: 0px 3px 10px 2px rgba(35,24,21,0.1);
    video{
      position: relative;
    }
  }
  .videoTitle{
    padding:10px;
    text-align:left;
    font-size:24px;
    font-weight:bold;
    border:1px solid #efefef;
    color: #E30212;
  }
}

/* 新闻内页 */
.newDetail{
  width:1400px;
  padding-top:60px;
  padding-bottom: 60px;
  margin:auto;
  h5{
    text-align:center;
    font-size:26px;
    color: #000000;
  }
  p{
    color:#737373;
    margin:20px 0;
    font-size: 16px;
  }
  img{
    margin:60px auto 30px;
  }
  .linkBox{
    a{
      color:#737373;
      margin:20px 0;
      &:first-child{
        float:left;
      }
      &:last-child{
        float:right;
      }
    }
  }
}