@tailwind components;

.processTitle{
  text-align: center;
  position: relative;
  height: 80px;
  h4{
    font-weight: bold;
    font-size: 48px;
    color: #333333;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    White-space:nowrap;
    &::after{
      content: '';
      position: absolute;
      width: 121px;
      height: 4px;
      background: #E30212;
      left: 50%;
      bottom: -4px;
      transform: translateX(-50%);
    }
  }
  span{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 50px;
    color: #DDDDDD;
  }
}
.process1{
  background: #fff url('https://www.yangdong.co:8443/yangdong-new/process/bg-1.webp')no-repeat left top;
  // background-size: cover;
  height: initial;
  .process1Box{
    .process1Top{
      height: 235px;
      display: flex;
      justify-content: space-between;
      background-color: #d82623;
      .process1TopL{
        padding: 40px 0 0 60px;
        h4{
          font-size: 48px;
          color: #FEFEFE;
          position: relative;
          margin-bottom: 40px;
          &::after{
            position: absolute;
            bottom: -20px;
            left: 0;
            content: '';
            width: 190px;
            height: 3px;
            background: #FFFFFF;
          }
        }
        p{
          font-size: 24px;
          color: #FEFEFE;
        }
      }
      .process1TopR{
        width: 360px;
        background: #010102;
        img{
          margin: 40px auto;
        }
      }
    }
    .process1Cen{
      display: flex;
      div{
        flex: 1;
        text-align: center;
        padding: 40px 0;
        img{
          margin: 0 auto 20px;
        }
        p,span{
          font-size: 24px;
          color: #FEFEFE;
        }
        p{
          position: relative;
          margin-bottom: 10px;
          &::after{
            position: absolute;
            content: '';
            width: 63px;
            height: 3px;
            background: #E30212;
            bottom: -4px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
    }
    .process1BH{
      text-align: center;
      color: #010102;
      margin: 40px auto;
      h4{
        font-size: 48px;
        position: relative;
        margin-bottom: 40px;
        &::after{
          content: '';
          position: absolute;
          width: 190px;
          height: 3px;
          background: #010102;
          bottom: -20px;
          left: 50%;
          transform: translateX(-50%);
          
        }
      }
      p{
        font-size: 24px;
      }
    }
    .process1B{
      display: flex;
      .process1BItem{
        flex: 1;
        margin: 0 5px;
        text-align: center;
        img{
          margin: auto;
          position: relative;
          z-index: 3;
        }
        .process1BItemB{
          height: 370px;
          background: #F3F3F3;
          padding: 100px 20px 40px;
          border-radius: 30px;
          position: relative;
          z-index: 2;
          top: -85px;
          overflow: hidden;
          &::before{
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            width: 190px;
            height: 190px;
            border-radius: 50%;
            transform: translate(-50%,-50%);
            background: #FDD9D9;
            -webkit-transition:all 0.5s linear;
            transition:all 0.5s linear;
          }
          span{
            font-size: 30px;
            color: #333333;
            font-weight: bold;
            position: relative;
            top: 20px;
            -webkit-transition:all 0.5s linear;
            transition:all 0.5s linear;
            &::before{
              content: '';
              position: absolute;
              width: 41px;
              height: 3px;
              background: #333333;
              bottom: -14px;
              left: 50%;
              transform: translateX(-50%);
              -webkit-transition:all 0.5s linear;
              transition:all 0.5s linear;
            }
          }
          p{
            font-size: 18px;
            color: #010102;
            margin-top: 60px;
            line-height: 36px;
          }
          &:hover{
            box-shadow: var(--shadow);
            -webkit-transition:all 0.5s linear;
            transition:all 0.5s linear;
            &::before{
              background: #E30212;
              -webkit-transition:all 0.5s linear;
              transition:all 0.5s linear;
            }
            span{
              color: #E30212;
              -webkit-transition:all 0.5s linear;
              transition:all 0.5s linear;
              &::before{
              background: #E30212;
              -webkit-transition:all 0.5s linear;
              transition:all 0.5s linear;
              }
            }
          }
        }
      }
    }
  }
}
.process2{
  background: url('https://www.yangdong.co:8443/yangdong-new/process/bg-2.webp')no-repeat;
  background-size: cover;
  height: 792px;
  .process2C{
    display: flex;
    padding-top: 60px;
    .process2CL{
      width: 50%;
      h4{
        font-size: 48px;
        color: #F0EEEE;
      }
      p{
        font-size: 18px;
        color: #F0EEEE;
      }
      a{
        display: block;
        width: 231px;
        height: 49px;
        background: #E30212;
        border-radius: 25px;
        font-size: 18px;
        color: #F0EEEE;
        text-align: center;
        line-height: 49px;
        margin: 30px 0;
      }
      .process2CList{
        display: flex;
        margin: 60px 0;
        .process2CListI{
          width: 160px;
          text-align: center;
          div{
            width: 88px;
            height: 88px;
            margin: auto;
            background: #E30212;
            border-radius: 50%;
            position: relative;
            margin-bottom: 20px;
            img{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
            }
          }
        }
      }
    }
    .process2CR{
      width: 50%;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      .process2CR1,.process2CR2{
        h4{
          font-weight: 500;
          font-size: 48px;
          color: #FDFCFC;
          margin-left: 20px;
        }
        div{
          width: 322px;
          height: 308px;
          background: #FFFFFF;
          border-radius: 10px;
          position: relative;
          padding: 20px;
          span{
            position: absolute;
            top: 60px;
            z-index: 3;
            font-weight: bold;
            font-size: 30px;
            color: #333333;
          }
          b{
            position: absolute;
            z-index: 2;
            right: 20px;
            top: 0px;
            font-family: Impact;
            font-weight: 400;
            font-size: 104px;
            color: #F0EEEE;
          }
          p{
            font-weight: 400;
            font-size: 18px;
            color: #333333;
            margin-top: 100px;
          }
      }
      }
    }
  }
}
.process3{
  padding-top: 60px;
  width: 100%;
  margin-bottom: 40px;
  .process3Top{
    display: flex;
    margin-top: 40px;
    div{
      text-align: center;
      flex: 1;
      background: #F7F7F7;
      font-size: 30px;
      color: #333333;
      padding: 10px 0;
      cursor: pointer;
      img{
        margin: 0 auto 10px;
      }
    }
    .activeBox{
      background: #E30212;
      color: #FFF;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-top: 16px solid #E30212;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
      }
    }
  }
  .process3C{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    .process3CR{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .process3CRT{
        h5{
          font-size: 30px;
          color: #333333;
          margin-bottom: 20px;
        }
        p{
          font-size: 18px;
          color: #666666;
        }
      }
      .process3CRB{
        display: flex;
        img{
          margin-right: 20px;
        }
      }
    }
  }
}
.process4{
  padding-top: 80px;
  width: 100%;
  padding-bottom: 40px;
  background: url('https://www.yangdong.co:8443/yangdong-new/process/bg-3.webp')no-repeat;
  background-size: cover;
  .process4C{
    margin-top: 40px;
    .process4Cgrid{
      display: grid;
      gap: 24px; /* 项目间距 */
      div{
        height: 267px;
        position: relative;
        span{
          position: absolute;
          font-size: 24px;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          color: #FFF;
          background: rgba(227,2,18,0.6);
          padding: 5px 10px;
        }
      }
    }
    .process4Cgrid1{
      grid-template-columns: 2fr 1fr 1fr;
      img{
        height: 100%;
        width: 100%;
      }
    }
    .process4Cgrid2{
      grid-template-columns: repeat(3, 1fr);
      div{
        img{
          height: 100%;
          width: 100%;
        }
      }
      margin: 24px 0;
      .diyBox{
        background: #E30212;
        color: #FFF;
        span{
          font-family: Roboto;
          width: 336px;
          color: rgba(255, 255, 255, 0.2);
          z-index: 4;
        }
        p{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          z-index: 5;
          font-size: 48px;
          font-weight: bold;
          color: #FFFFFF;
        }
      }
    }
    .process4Cgrid1,.process4Cgrid2{
      div{
        overflow: hidden;
        span{
          White-space:nowrap;
        }
        img{
          transition:all 0.5s linear;
        }
        &:hover{
          img{
            transform: scale(1.2);
            transition:all 0.5s linear;
          }
        }
      }
    }
  }
}
@media screen and (max-width:1440px) {
  .processTitle{
    h4{
      font-size: 40px;
    }
    span{
      font-size: 25px;
    }
  }
  .process1{
    background-image: none;
    .process1Box{
      .process1Cen{
        div{
          p{
            font-size: 16px;
          }
        }
      }
      .process1BH{
        h4{
          font-size: 36px;
        }
      }
      .process1B{
        .process1BItem{
          .process1BItemB{
            height: 320px;
            span{
              font-size: 24px;
            }
            p{
              font-size: 14px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
  .process2{
    .process2C{
      .process2CL{
        width: initial;
        h4{
          font-size: 36px;
        }
        p{
          font-size: 16px;
        }
        .process2CList{
          margin: 30px 0;
          gap: 20px;
          .process2CListI{
            width: initial;
            p{
              font-size: 16px;
            }
          }
        }
      }
      .process2CR{
        width: 70%;
        .process2CR1,.process2CR2{
          width: 50%;
          h4{
            // font-size: 30px;
            margin-left: 0px!important;
            margin-right: 0px!important;
          }
          div{
            width: 100%;
            span{
              font-size: 26px;
            }
            p{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .process3{
    .process3Top{
      div{
        font-size: 20px;
      }
    }
    .process3C{
      .process3CL{
        width: 50%;
      }
      .process3CR{
        .process3CRT{
          h5{
            font-size: 22px;
          }
          p{
            font-size: 16px;
          }
        }
        .process3CRB{
          overflow: hidden;
          gap: 10;
          img{ 
            width: 50%;
            margin-right: 0;
          }
        }
      }
    } 
  }
  .process4{
    .process4C{
      .process4Cgrid{
        gap: 10px;
        img{
          width: 100%;
        }
      }
      .process4Cgrid2{
        margin: 10px 0;
        .diyBox{
          overflow: hidden;
          p{
            font-size: 36px;
          }
        }
      }
    }
  }
}
@media screen and (max-width:1000px) {
  .processTitle{
    h4{
      font-size: 36px;
    }
  }
  .process1{
    background-image: none;
    .process1Box{
      .process1Top{
        height: 200px;
        .process1TopL{
          padding-left: 20px;
          h4{
            font-size: 30px;
          }
          p{
            font-size: 16px;
          }
        }
        .process1TopR{
          width: 40%;
          img{
            width: 80%;
          }
        }
      }
      .process1Cen{
        div{
          p{
            font-size: 12px;
          }
        }
      }
      .process1BH{
        h4{
          font-size: 30px;
        }
        p{
          font-size: 16px;
        }
      }
      .process1B{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        .process1BItem{
          height: initial;
          .process1BItemB{
            height: 300px;
          }
        }
      }
    }
  }
  .process2{
    height: initial;
    padding-bottom: 40px;
    .process2C{
      flex-wrap: wrap;
      text-align: center;
      .process2CL{
        width: 100%!important;
        width: initial;
        .process2CList{
          justify-content: center;
          margin-bottom: 40px;
        }
        a{
          margin: 40px auto;
        }
      }
      .process2CR{
        margin-top: 20px;
        width: 100%;
        .process2CR1,.process2CR2{
          width: 50%;
          h4{
            font-size: 36px;
            text-align: right;
          }
          span{
            width: 100%;
            text-align: right;
            right: 0;
            padding-right: 20px;
          }
        }
      }
    }
  }
  .process3{
    h4{
      font-size: 26px;
    }
    .process3Top{
      div{
        font-size: 16px;
      }
    }
    .process3C{
      flex-wrap: wrap;
      flex-direction: column-reverse;
      gap: 10px;
      .process3CL{
        width: 100%;
      }
      .process3CR{
        .process3CRT{
          h5{
            font-size: 24px;
          }
          p{
            margin-bottom: 20px;
          }
        }
      }
    } 
  }
  .process4{
    h4{
      font-size: 24px;
    }
    .process4C{
      .process4Cgrid{
        gap: 10px;
        img{
          width: 100%;
        }
      }
      .process4Cgrid1,.process4Cgrid2{
        div{
          height: 180px;
          span{
            font-size: 14px;
          }
        }
      }
      .process4Cgrid2{
        .diyBox{
          text-align: center;
          p{
            font-size: 26px;
          }
          span{
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media screen and (max-width:720px){
  .processTitle{
    h4{
      font-size: 20px;
    }
    span{
      font-size: 18px;
    }
    height: 40px;
  }
  .process1{
    .process1Box{
      width: 100%;
      .process1Top{
        height: 150px;
        .process1TopL{
          padding-left: 10px;
          h4{
            font-size: 20px;
          }
          p{
            font-size: 14px;
          }
        }
      }
      .process1Cen{
        div{
          padding: 20px 0;
          p{
            display: none;
          }
          img{
            width: 36px;
            height: 36px;
          }
        }
      }
      .process1BH{
        h4{
          font-size: 26px;
        }
      }
      .process1B{
        width: 96%;
        margin: auto;
        .process1BItem{
          margin: 0;
          .process1BItemB{
            height: 270px;
            padding: 100px 10px 30px;
            span{
              font-size: 20px;
              &::before{
                bottom: -10px;
              }
            }
            p{
              margin-top: 30px;
              b{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  .process2{
    height: initial;
    padding-bottom: 40px;
    .process2C{
      .process2CL{
        h4{
          font-size: 26px;
        }
        p{
          font-size: 14px;
        }
        .process2CList{
          .process2CListI{
            p{
              font-size: 12px;
            }
          }
        }
      }
      .process2CR{
        gap: 10px;
        .process2CR1,.process2CR2{
          width: 50%;
          div{
            height: initial;
            padding: 10px;
            b{
              right: 10px;
              font-size: 40px;
            }
            span{
              padding-right: 10px;
              font-size: 18px;
            }
            p{
              font-size: 14px;
              margin-top: 80px;
            }
          }
          h4{
            font-size: 22px;
          }
        }
      }
    }
  }
  .process3{
    h4{
      font-size: 18px;
    }
    .process3Top{
      width: 100%;
      div{
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img{
          width: 36px;
        }
      }
    } 
  }
  .process4{
    .process4C{
      .process4Cgrid{
        gap: 5px;
        img{
          width: 100%;
        }
      }
      .process4Cgrid1,.process4Cgrid2{
        div{
          height: 120px;
          span{
            font-size: 12px;
          }
        }
      }
      .process4Cgrid2{
        margin: 5px 0;
        .diyBox{
          text-align: center;
          p{
            font-size: 20px;
          }
          span{
            font-size: 12px;
          }
        }
      }
    }
  }
}